body, header, h1, canvas, footer, button {
  margin: 0px;
  padding: 0px;
  border: 0px;

  background-color: #87cefa;
}

header {
  font-family: 'Raleway', sans-serif;
  margin: 20px auto;
  width: 80%;
  height: 100px;
  border-radius: 6px;

  text-align: center;
}

header > h1 {
  padding-top: 20px;
  font-size: 48px;
}

.middle-container {
  font-family: 'Raleway', sans-serif;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middle-container h2 {
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
}

.middle-container p {
  padding: 0px 20px;
  font-size: 28px;
}

.instructions {
  width: 500px;
  background-color: #ffc962;
  border-radius: 6px;
}

canvas {
  display: block;
}

.bonus {
  width: 480px;
  background-color: #DDFCAD;
  border-radius: 6px;
}

.bonus h2 {
  padding: 20px 20px;
  font-size: 40px;
}

#reset-level, #reset-game {
  box-sizing: border-box;
  margin: 20px 35px;
  width: 400px;
  height: 100px;
  background-color: #FF8784;
  border: 2px dashed #ffffff;
  border-radius: 6px;
  font-size: 32px;
  font-weight: bold;
}

footer {
  margin: 20px auto;
  width: 80%;
  height: 100px;
  border-radius: 6px;
  background-color: pink;
  text-align: center;
}
